<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma-directive: no-cache" />
    <meta http-equiv="Cache-directive: no-cache" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      .main {
        height: 90vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
    <title>Prediction</title>
  </head>
  <body>
 
    <section>
      <div class="main container ">
        <div>
          <h1 class="text-center">According To the uploaded Image</h1>
          <hr />
          <div>
            <div class="row text-center">
              <div class="col md-6" style="display: flex; align-items: center; justify-content: center;">
                <div class="card " style="width: 18rem;">
                  <img
                    src="{{ url_for('static', filename='input.jpg') }}"
                    class="card-img-top"
                    alt="Input image"
                  />
                  <div class="card-body">
                    <p class="card-text">{{pre}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <h6 class="text-center">MCA Mini Project- Kiran Karthikeyan</h6>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
